body {
    text-align: center;
}
#title {
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-shadow: 0 0.5vh 2vh hsl(0, 0%, 20%);
}

#playBox {
  position: relative;
  background-color: white;
  border-radius: 2vh;
  width: 70vh;
  max-width: 50vh;
  min-height: 50vh;
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 1vh 1.2vh hsl(0, 0%, 20%);
  transition: height 0.3s;
}

.play-button-secondary {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 40px;
    width: 100px;
    max-width: 40vh;
    margin: 4vh;
    color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0.5vh 2vh hsl(0, 0%, 20%);
}

#takePictureGlyph{

font-size: 50px;

}