body {
	text-align: center;
}

.fullscreen-bg {
  background: url('../media/fog.jpg');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media screen and (max-device-width : 500px) {
  .fullscreen-bg__video {
    display: none;
  }
}

#title {
	font-size: 70px;
	font-family: "butcherman", Helvetica, sans-serif;
	color: #c0392b;
}


.playerThumbnail {
  height: 24px;
  width: 24px;
}

#loginBox {
  position: relative;
  background-color: white;
  width: 80%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button-secondary {
            height: 40px;
            width: 100px;
            color: black;
            border-radius: 5px;
            text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            background: white;
            box-shadow: 4px 4px 4px black;
        }
        
.input-text-secondary {
height: 20px;
}

ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}