body {
    text-align: center;
}

#title {
    font-size: 8vh;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: white;
    text-shadow: 0 0.5vw 2vw hsl(0, 0%, 20%);
}

#loginBox {
    position: relative;
    background-color: white;
    border-radius: 2vw;
    width: 70vw;
    max-width: 50vh;
    min-height: 50vh;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 1vw 1.2vw hsl(0, 0%, 20%);
    transition: height 0.3s;
}

.button-secondary {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 8vh;
    width: 60vw;
    max-width: 40vh;
    margin: 4vw;
    color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0.5vw 2vw hsl(0, 0%, 20%);
}

.button-small {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 5vh;
    width: 40vw;
    max-width: 30vh;
    margin: 1vw;
    color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0.5vw 2vw hsl(0, 0%, 20%);
}

.back-button {
    font-size: 4vh;
    color: hsl(0, 0%, 30%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 5vw;
}

#playerListDisplay {
    height: 40vh;
    max-width: 60vh;
    padding: 2vh;
    box-shadow: inset 0.4vw 0.4vw 1vw hsl(0, 0%, 20%);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

li {
    height: 4vh;
}

li > img {
    float: left;
    height: 4vh;
    width: 4vh;
}

li > h3 {
    float: left;
    line-height: 4vh;
    margin: 0 5vw;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.playerThumbnail {
    height: 24px;
    width: 24px;
}

.input-text-secondary {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    height: 6vh;
    width: 66vw;
    max-width: 40vh;
    margin: 3vw;
    padding: 2vw;
    color: black;
    border-radius: 5px;
    background: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.fullscreen-bg {
    background: url('../media/fog.jpg');
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media screen and (max-device-width: 500px) {
    .fullscreen-bg__video {
        display: none;
    }
}